## .NET
bin/
obj/
*.user
*.suo
.vs/

## Секретные файлы — НЕ заливать на GitHub!
firebase-key.json
appsettings.Development.json

## Локальные настройки
Properties/launchSettings.json

## Загруженные файлы
wwwroot/avatars/
wwwroot/audio/
wwwroot/video/

## Архивы
*.rar
*.zip